<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Total Phone Bill Price Plan</h1>
    <h2>Phone Bill Widget</h2>
    <form action="/sum" method="POST">
        <div class="Usertextbox">
            <label class="RG" for="fReg">Username</label>
            <input type="text" name="EnterMain" value="" placeholder="enter user name (e.g Wiseman, John)" class="fReg">
        </div>
        <div class="Usertextbox">
            <label class="RG" for="fReg">Usage String</label>
            <input type="text" name="EnterMainString" value="" placeholder="enter user string (e.g sms100, sms200)" class="fReg">
        </div>
        <div class="price_add">
            <button class="button-primary AddButtn" type="submit" name="button">Calculate total phone bill</button>
        </div>
    </form>
   <h3> <label>Phone Bill Total:</label><span> Total here</span> <h3>
                <div class="AllocateNames">
                <a href="/allocate">Allocate Names Here</a>
            </div>
</body>

</html>