<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="head">
  <h3><a href="/allocate">Allocate User</a></h3>
    <h1> Total Phone Bill Price Plan</h1>
   </div>
    <h2>Phone Bill Widget</h2>
    <form action="/sum" method="POST">
        <div class="Usertextbox">
            <label class="RG" for="fReg">Username</label>
            <input type="text" name="EnterMain" value="" placeholder="enter user name (e.g Wiseman, John)" class="fReg">
        </div>
        <div class="Usertextbox">
            <label class="RG" for="fReg">Usage String</label>
            <input type="text" name="EnterMainString" value="" placeholder="enter user string (sms, call, sms)" class="fReg">
            <label class="RG" for="fReg"></label>
        </div>
        <div class="price_add2">
            <button class="button-primary AddButtn" type="submit" name="button">Calculate total phone bill</button>
        </div>
    </form>
   <h3> <label>Phone Bill Total:</label><span>{{Total}}</span> <h3>
</body>

</html>