<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Total Phone Bill Price Plan</h1>
    <h2>Allocate Price Plan to Username</h2>


    <form action="/" method="POST">
        <div class="Usertextbox">
            <label class="RG" for="fReg">Username</label>
            <input type="text" name="Entername" value="" placeholder="enter user name (e.g Wiseman, John)" class="fReg">
        </div>
        <div class="Username">
            <label class="townText" for="towns">Price Plan</label>
            <select id="banks" name="planType" class="priceplan_name" aria-label="State">
                <option value="">Select Price Plan</option>
                <option value="sms100">SMS 100</option>
                <option value="sms200">SMS 200</option>
                <option value="callWeek">Call Weekly</option>
            </select>
        </div>
        <div class="price_add">
            <button class="button-primary AddButtn" type="submit" name="button">Allocate</button>
        </div>
    </form>
    <div class="view_prices">
    <h2>Price Plans</h2>
    <table>
        <tr>
            <td>SMS 100</td>
            <td>view users</td>
        </tr>
        <tr>
            <td>SMS 200</td>
            <td>view users</td>
        </tr>
        <tr>
            <td>CALL WEEKLY</td>
            <td>view users</td>
        </tr>
    </table>
    </div>


</body>

</html>