<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
body {
    background-color: #fefae0;

}
.head{
    text-align: center;
    background-color: #bc6c25;
    margin: 0px;
    color: antiquewhite;
    padding: 15px;
    display: flex;

}
table{
    margin: auto;
}
h1{
    margin: auto;
}
    </style>
    <div class="head">

    <h3><a href="/">Home</a></h3>
    <h1> Total Phone Bill Price Plan</h1>
    <h3><a href="/allocate">Back</a></h3>

    </div>
    <table>
        <tr>
            <th>Usernames</th>
        </tr>
        {{#each UsersFor}}
        <tr>
            <td>{{user_names}}</td>

        </tr>
        {{/each}}
    </table>
</body>
</html>